<!DOCTYPE html>
<html>
<head>
  <title>JiveAddOns</title>
  <%= stylesheet_link_tag    "jive_add_ons/application", media: "all" %>
  <%= javascript_include_tag "jive_add_ons/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
